



.Dashboard
{
    position: fixed;
    right: 0;
    top: 0;
    width: calc( 100vw - 50px );
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "tasks stat1"
        "last stat2"
    ;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bg-color);
    font-family: 'FunnelDisplay', sans-serif;
}

.Dashboard > div
{
    background-color: #fff;
    border-radius: 10px;
}

.TimeSpentProdCons
{
    grid-area: stat1;
}

.TimeSpentActivity
{
    grid-area: stat2;
}

.LastResource
{
    grid-area: last;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.LastResource img
{
    width: 50%;
    aspect-ratio: 1;
}

.tasks
{
    grid-area: tasks;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.tasks > div
{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10%;
}

.tasks .taskState .taskStateColor
{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 5px;
}

.tasks .taskState h3 span
{
    color: var(--nav-color);
}

.tasks .todoState .todoStateColor
{
    background-color: red;

} 

.tasks .inProgressState .inProgressStateColor
{
    background-color: orange;
} 


.tasks .doneState .doneStateColor
{
    background-color: green;
} 


.tasks .holdState .holdStateColor
{
    background-color: gray;
}

.tasks .taskAction
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.tasks .taskAction button
{
    padding: 10px 20px;
    border: 1px solid var(--nav-color);
    background-color: #fff;
    transition: all 0.3s ease;
}


.tasks .taskAction button:hover
{
    outline: 1px solid var(--nav-color);
    transform: scale(1.05);
}

