


#App
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "aside main"
    ;
    transition: all 0.3s ease;
}

#App ul, #App ol
{
    list-style-type: none;
    list-style: none;
}

#App a
{
    text-decoration: none;
}

#App.open
{
    grid-template-columns: 200px 1fr;
}

#App.open .aside span
{
    opacity: 1;
    visibility: visible;
}


.aside
{
    position: relative;
    grid-area: aside;
    background-color: var(--nav-color);
}

.aside nav
{
    margin-top: 100px;
    padding: 0.25rem 0 0.25rem 0.25rem;
}

.aside ul
{
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: start;
    gap: 2rem;
}

.aside li
{
    display: flex;
    align-items: center;
    padding: 0.625rem 0.875rem;
    gap: 0.625rem;
    font-size: 1.25rem;
    line-height: 1;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.aside li.active
{
    background-color: #fff;
    color: var(--nav-color);
}

.aside li:hover
{
    background-color: #fff;
    color: var(--nav-color);
}

.aside span
{
    opacity: 0;
    visibility: hidden;
}

.aside .bt-aside
{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#App.open .aside .bt-aside i
{
    transform: rotate(180deg);
}



