
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

*
{
    box-sizing: border-box;
}

:root
{
    --bg-color: #50FFB1;
    --nav-color: #3C896D;
}