
/* Regular (400) */
@font-face {
    font-family: 'FunnelDisplay';
    src: url('./assets/fonts/Funnel_Display/static/FunnelDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Medium (500) */
@font-face {
    font-family: 'FunnelDisplay';
    src: url('./assets/fonts/Funnel_Display/static/FunnelDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold (700) */
@font-face {
    font-family: 'FunnelDisplay';
    src: url('./assets/fonts/Funnel_Display/static/FunnelDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Black (900) */
@font-face {
    font-family: 'FunnelDisplay';
    src: url('./assets/fonts/Funnel_Display/static/FunnelDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'FunnelDisplay', sans-serif;
}

*
{
    box-sizing: border-box;
}

:root
{
    --bg-color: #9FC2CC;
    --nav-color: #2C60A0;
}